@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-nav-height: 48px;
  --footer-height: 30px;
  --black: #24292f;
  --dark-gray: #30363d;
  --green: #00e100;
  --red: #dc3545;
}

.bg-\[color\:var\(--bg-1\)\] {
  background-color: var(--bg-1);
}

.bg-\[color\:var\(--bg-modal\)\] {
  background-color: var(--bg-modal);
}

.bg-\[color\:var\(--bg-modal-overlay\)\] {
  background-color: var(--bg-modal-overlay);
}

.bg-\[color\:var\(--black\)\] {
  background-color: var(--black);
}

.copy-wrapper {
  position: relative;
}

.copy {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  margin-right: 12px;
  color: var(--color-1);
  border: 0;
  border-radius: 6px;
}

.copy:hover {
  color: var(--hover-color-1);
  transition: color 0.2s linear;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 3px;
}

body.light {
  --bg: #fff;
  --bg-1: #fff;
  --bg-dark: #ddd;
  --bg-code: #eee;
  --bg-modal-overlay: rgba(0, 0, 0, 0.4);
  --bg-modal: #fff;
  --color: #212529;
  --color-1: #212529;
  --a-color: #212529;
  --hover-a-color: #007bff;
  --hover-color-1: #212529;
  --scrollbar-color: #ccc;
  --border-color: #e9ecef;
  --box-shadow-color: #494949;
  --strike-color: #737e8e;
  --hover-strike-color: #02203c;
  --tag-color: #cfd3d7;
  --hover-split-bg-color: #aaaaac;
}

body.dark {
  --bg: #0d1117;
  --bg-1: var(--black);
  --bg-dark: #0d1117;
  --bg-code: #0d1117;
  --bg-modal-overlay: hsla(215, 8%, 47%, 0.4);
  --bg-modal: #161b22;
  --color: #fff;
  --color-1: #c9d1d9;
  --a-color: var(--green);
  --hover-a-color: #0f0;
  --hover-color-1: #fff;
  --scrollbar-color: #6e6e6e;
  --border-color: #30363d;
  --box-shadow-color: #010409;
  --strike-color: #c9d1d9;
  --hover-strike-color: #fff;
  --tag-color: var(--black);
  --hover-split-bg-color: #6e6e6e;
}

.h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.link {
  cursor: pointer;
  color: var(--color-1);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active,
.link:hover {
  color: var(--hover-a-color);
}

.link-white {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-dark,
.link-white-active,
.link-white:hover {
  color: var(--green);
}

.link-dark {
  cursor: pointer;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-dark:hover {
  --tw-text-opacity: 1;
  color: rgb(0 255 0 / var(--tw-text-opacity));
}

.tab {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tab:hover {
  color: var(--hover-a-color);
}

.tab-active,
.tab-active:hover {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

:is(.dark .tab-active) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .tab-active:hover) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.input {
  display: block;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding: 0.5rem 0.75rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  outline-style: solid;
  outline-color: #3b82f6;
}

:is(.dark .input) {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

:is(.dark .input:focus) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.input-error {
  --tw-border-opacity: 1;
  border-color: rgb(248 113 113 / var(--tw-border-opacity));
  background-color: hsla(0, 93%, 94%, 0.4);
}

.input-error:focus {
  outline-style: solid;
  outline-color: #f87171;
}

:is(.dark .input-error) {
  background-color: rgba(127, 29, 29, 0.2);
}

.\!error {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

:is(.dark .\!error) {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity));
}

.error {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

:is(.dark .error) {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity));
}

.\!select {
  cursor: pointer;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

:is(.dark .\!select) {
  --tw-border-opacity: 1;
  border-color: rgb(63 63 70 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.select {
  cursor: pointer;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

:is(.dark .select) {
  --tw-border-opacity: 1;
  border-color: rgb(63 63 70 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn {
  display: flex;
  border-radius: 0.5rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn,
.btn-block {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-block {
  display: block;
  display: flex;
  width: 100%;
}

.btn-xs {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.btn-md,
.btn-sm {
  padding: 0.5rem 1rem;
}

.btn-md {
  font-size: 1.125rem;
}

.btn-lg,
.btn-md {
  line-height: 1.75rem;
}

.btn-lg {
  padding: 0.625rem 1.5rem;
  font-size: 1.25rem;
}

.btn-success {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-success:hover:enabled {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}

.btn-success:disabled {
  opacity: 0.6;
}

.btn-warning {
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.btn-warning:hover:enabled {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
}

.btn-warning:disabled {
  opacity: 0.6;
}

.btn-danger {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-danger:hover:enabled {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.btn-danger:disabled {
  opacity: 0.6;
}

.btn-info {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-info:hover:enabled {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.btn-info:disabled {
  opacity: 0.6;
}

.btn-light {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.btn-light:hover:enabled {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.btn-light:disabled {
  opacity: 0.6;
}

:is(.dark .btn-light) {
  --tw-border-opacity: 1;
  border-color: rgb(63 63 70 / var(--tw-border-opacity));
  background-color: var(--black);
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

:is(.dark .btn-light:hover) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .btn-light:hover:enabled) {
  background-color: var(--black);
}

:is(.dark .btn-light:disabled) {
  opacity: 0.6;
}

.icon {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

:is(.dark .icon) {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
}

.icon-btn {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-btn:hover,
.icon-btn:hover:enabled {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.icon-btn:disabled {
  opacity: 0.6;
}

:is(.dark .icon-btn) {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
}

:is(.dark .icon-btn:hover) {
  --tw-text-opacity: 1;
  color: rgb(228 228 231 / var(--tw-text-opacity));
}

:is(.dark .icon-btn:hover):enabled {
  --tw-text-opacity: 1;
  color: rgb(228 228 231 / var(--tw-text-opacity));
}

:is(.dark .icon-btn:disabled) {
  opacity: 0.6;
}

.copy-wrapper {
  height: 100%;
}

.code h1,
.code h2,
.code h3,
.code h4,
.code h5 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  border-bottom: 1px solid var(--border-color);
}

.code p {
  margin-bottom: 1rem;
}

.code dl,
.code ol,
.code ul {
  margin-bottom: 1rem;
  padding-left: 2rem;
  list-style-type: disc;
}

.code table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.code td,
.code th {
  text-align: left;
  padding: 0.25rem 1rem;
}

.code td {
  border: 1px solid var(--border-color);
}

.code code {
  color: #d63384;
}

.code pre {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-color: red #ff0;
  padding: 30px 12px 10px;
  border-radius: 8px;
  background-color: var(--bg-code);
}

.code pre > code {
  color: var(--color-1);
}

.copy-wrapper {
  position: relative;
}

.copy {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  margin-right: 12px;
  color: var(--color-1);
  border: 0;
  border-radius: 6px;
}

.copy:hover {
  color: var(--hover-color-1);
  transition: color 0.2s linear;
}

#ace-editor {
  width: 100% !important;
}

.ace_gutter-cell {
  padding: 0 10px 0 5px !important;
}

body.light pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

body.light code.hljs {
  padding: 3px 5px;
}

body.light .hljs {
  background: #eee;
  color: #000;
}

body.light .hljs-addition,
body.light .hljs-attribute,
body.light .hljs-emphasis,
body.light .hljs-link {
  color: #070;
}

body.light .hljs-emphasis {
  font-style: italic;
}

body.light .hljs-deletion,
body.light .hljs-string,
body.light .hljs-strong {
  color: #d14;
}

body.light .hljs-strong {
  font-weight: 700;
}

body.light .hljs-comment,
body.light .hljs-quote {
  color: #998;
  font-style: italic;
}

body.light .hljs-section,
body.light .hljs-title {
  color: #900;
}

body.light .hljs-class .hljs-title,
body.light .hljs-title.class_,
body.light .hljs-type {
  color: #458;
}

body.light .hljs-template-variable,
body.light .hljs-variable {
  color: #369;
}

body.light .hljs-bullet {
  color: #970;
}

body.light .hljs-meta {
  color: #34b;
}

body.light .hljs-code,
body.light .hljs-keyword,
body.light .hljs-literal,
body.light .hljs-number,
body.light .hljs-selector-tag {
  color: #099;
}

body.light .hljs-regexp {
  background-color: #fff0ff;
  color: #808;
}

body.light .hljs-symbol {
  color: #990073;
}

body.light .hljs-name,
body.light .hljs-selector-class,
body.light .hljs-selector-id,
body.light .hljs-tag {
  color: #070;
}

body.dark pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

body.dark code.hljs {
  padding: 3px 5px;
}

body.dark .hljs {
  color: #c9d1d9;
  background: #0d1117;
}

body.dark .hljs-doctag,
body.dark .hljs-keyword,
body.dark .hljs-meta .hljs-keyword,
body.dark .hljs-template-tag,
body.dark .hljs-template-variable,
body.dark .hljs-type,
body.dark .hljs-variable.language_ {
  color: #ff7b72;
}

body.dark .hljs-title,
body.dark .hljs-title.class_,
body.dark .hljs-title.class_.inherited__,
body.dark .hljs-title.function_ {
  color: #d2a8ff;
}

body.dark .hljs-attr,
body.dark .hljs-attribute,
body.dark .hljs-literal,
body.dark .hljs-meta,
body.dark .hljs-number,
body.dark .hljs-operator,
body.dark .hljs-selector-attr,
body.dark .hljs-selector-class,
body.dark .hljs-selector-id,
body.dark .hljs-variable {
  color: #79c0ff;
}

body.dark .hljs-meta .hljs-string,
body.dark .hljs-regexp,
body.dark .hljs-string {
  color: #a5d6ff;
}

body.dark .hljs-built_in,
body.dark .hljs-symbol {
  color: #ffa657;
}

body.dark .hljs-code,
body.dark .hljs-comment,
body.dark .hljs-formula {
  color: #8b949e;
}

body.dark .hljs-name,
body.dark .hljs-quote,
body.dark .hljs-selector-pseudo,
body.dark .hljs-selector-tag {
  color: #7ee787;
}

body.dark .hljs-subst {
  color: #c9d1d9;
}

body.dark .hljs-section {
  color: #1f6feb;
  font-weight: 700;
}

body.dark .hljs-bullet {
  color: #f2cc60;
}

body.dark .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}

body.dark .hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}

body.dark .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

body.dark .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

.odd\:bg-gray-100:nth-child(odd) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:text-\[color\:var\(--hover-strike-color\)\]:hover {
  color: var(--hover-strike-color);
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.disabled\:opacity-50:disabled {
  opacity: 0.5;
}

:is(.dark .dark\:border-zinc-800) {
  --tw-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-border-opacity));
}

:is(.dark .dark\:bg-\[black\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-blue-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-green-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-zinc-700) {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-zinc-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-\[color\:\#0F0\]) {
  --tw-text-opacity: 1;
  color: rgb(0 255 0 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-\[color\:\#F0F\]) {
  --tw-text-opacity: 1;
  color: rgb(255 0 255 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-blue-800) {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-green-900) {
  --tw-text-opacity: 1;
  color: rgb(20 83 45 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-zinc-300) {
  --tw-text-opacity: 1;
  color: rgb(212 212 216 / var(--tw-text-opacity));
}

:is(.dark .dark\:odd\:bg-zinc-900:nth-child(odd)) {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}
